.forecast-day {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 0px 5px;
}
.forecast-icon {
  text-align: right;
  padding: 5px 5px 0px;
}
.forecast-temperature {
  text-align: center;
  font-size: 17px;
  padding: 0px;
}
.forecast-temperature-min {
  color: #979eac;
}
