h1 {
  color: #000000;
  font-family: "Reem Kufi", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
h2 {
  color: #000000;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
ul {
  list-style: none;
  color: #979eac;
  font-size: 17px;
  padding-top: 25px;
}
li:first-letter {
  text-transform: capitalize;
}
.information {
  padding: 10px;
}
.current-weather {
  padding: 5px 0px 5px;
}
.current-weather-icon {
  padding: 25px 25px 0px;
}
.current-weather-temperature {
  text-align: left;
  font-weight: bold;
  line-height: normal;
  padding: 25px 0px 0px;
}
.current-day {
  font-family: "Reem Kufi", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding-right: 5px;
}
.current-day-unit {
  font-family: "Reem Kufi", sans-serif;
  position: relative;
  top: -20px;
}
.current-day-information {
  text-align: left;
  line-height: 24px;
}
.current-day-text {
  font-size: 17px;
  padding-right: 5px;
}
.current-day-temperature {
  font-family: "Reem Kufi", sans-serif;
  font-size: 24px;
  padding-right: 5px;
}
.current-day-information-unit {
  font-family: "Reem Kufi", sans-serif;
  font-size: 17px;
  vertical-align: super;
}
.unit-link {
  text-decoration: none;
  color: #000000;
  cursor: default;
}
.unit-link:hover {
  color: #000000;
  text-decoration: underline;
}
